﻿@model StoreProductViewModel
<h3>Add Products in @Model.Name</h3>

<form action="/Store/SaveInStore">
    <input type="hidden" name="StoreId" value="@Model.StoreId" />

    <div>
        <label>Product's Name:</label>
        <input type="text" name="Product.Name" placeholder="Enter name..." />
    </div>
    <div>
        <label>Product's Code:</label>
        <input type="text" name="Product.Code" placeholder="Enter Code..." />
    </div>
    <label>Groups</label>
    <select name="Product.GroupId" value="@Model.Groups">
        @foreach (var item in Model.Groups)
        {
            <option value="@item.Id">@item.Name</option>
        }
    </select>
    <div>
        <label>Price:</label>
        <input type="number" name="Price" placeholder="Enter Price..." />
    </div>
    <div>
        <label>Count:</label>
        <input type="number" name="Count" placeholder="Enter Count..." />
    </div>
    <div>
        <input type="submit" value="Add" />
    </div>
</form>
