﻿<h3>Create Store</h3>

<form action="/Store/Add">
    <div>
        <label>Name:</label>
        <input type="text" name="Name"  placeholder="Enter name..." />
    </div>
    <div>
        <label>Adress:</label>
        <input type="text" name="Adress" placeholder="Enter Adress..." />
    </div>
    <div>
        <input type="submit" value="Add" />
    </div>
</form>