﻿@model List<Store>

<!DOCTYPE html>

<html>
<head>
    <title>Store</title>
</head>
<body>
    <h3>Stores</h3>
    <a href="/Store/Create">Add New Store</a>
    <table>
        <thead>
            <tr>
                <th>Name</th>
                <th>Adress</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var store in Model)
            {
            <tr>
                <td>@store.Name</td>
                <td>@store.Adress</td>
                <td><a href="/Store/Update/@store.Id">Edit</a></td>
                <td>||</td>
                <td><a href="/Store/Delete/@store.Id">Remove</a></td>
                <td>||</td>
                <td><a href="/Store/AddProducts/@store.Id">Add product in store</a></td>
                <td>||</td>
                <td><a href="/Store/ViewProductsInStore/@store.Id">View products in store</a></td>
                <td>||</td>
                <td><a href="/Store/SellProductAtStore/@store.Id">Sell products at store</a></td>
            </tr>
            }
        </tbody>
    </table>
</body>
</html>

