﻿@model List<SellViewModel>

<h3>Sell product at @Model.FirstOrDefault()</h3>

    <table>
        <thead>
            <tr>
                <th>Product Name</th>
                <th>Product Code</th>
                <th>Product Count</th>
                <th>Product PurchasePrice</th>
                <th>Product SellingPrice</th>
                <th>Sell Product</th>
            </tr>
        </thead>

        <tbody>

            @foreach (var sell in Model)
            {
            <tr>
                
                <td>@sell.Name</td>
                <td>@sell.Code</td>
                <td>@sell.Count</td>
                <td>@sell.PurchasePrice</td>
                <td>@sell.SellingPrice</td>
                <td>
                    <form action="/Store/Sell">
                        <input type="number" name="Count" value="@sell.Count" />
                        <input type="hidden" name="Code" value="@sell.Code" />
                        <input type="hidden" name="ProductId" value="@sell.ProductId" />
                        <input type="hidden" name="StoreId" value="@sell.StoreId" />
                        <input type="hidden" name="Name" value="@sell.Name" />
                        <input type="number" placeholder="@sell.PurchasePrice" name="SellingPrice" />
                        <input type="submit" value="Sell" />
                    </form></td>
            </tr>
            }
        </tbody>
    </table>
