﻿@model Store

<h3>Edit Store</h3>
<form method="post" action="/Store/SaveUpdate">
    <input type="hidden" name="Id" value="@Model.Id" />
    <div>
        <label>Name:</label>
        <input type="text" name="Name" value="@Model.Name" placeholder="Enter name..." />
    </div>
    <div>
        <label>Adress:</label>
        <input type="text" name="Adress" value="@Model.Adress" placeholder="Enter Adress..." />
    </div>
    <input type="submit" value="Save" />
</form>
