﻿@model List<ViewProductsInStore>
<table>
    <thead>
        <tr>
            <th>Grup Name</th>
            <th>Product Name</th>
            <th>Product Code</th>
            <th>Product Count</th>
            <th>Product PurchasePrice</th>
            <th>Product SellingPrice</th>
            <th>Sell Product</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var prod in Model)
        {
        <tr>
            <td>@prod.GroupName</td>
            <td>@prod.Name</td>
            <td>@prod.Code</td>
            <td>@prod.Count </td>
            <td>@prod.PurchasePrice</td>
            <td>@prod.SellingPrice</td>
        </tr>
        }
    </tbody>
</table>