﻿@model List<Product>

<!DOCTYPE html>

<html>
<head>
    <title>Store</title>
</head>
<body>
    <h3>Products</h3>
    <a href="/Product/Index">View Products</a>
    <a href="/Group/Index">View Groups</a>
    <a href="/Store/Index">View Stores</a>

</body>
 </html>



