﻿@model ProductGroup

<h3>Edit Product</h3>

<form  action="/Product/Add">
    <div>
        <label>Name:</label>
        <input type="text" name="Name" value="@Model.Name" placeholder="Enter name..." />
    </div>
    <div>
        <label>Code:</label>
        <input type="text" name="Code" value="@Model.Code" placeholder="Enter code..." />
    </div>
    <div>
        <label>GroupId</label>
        <select name="GroupId" value="@Model.GroupId">
            @foreach (var item in Model.Groups)
            {
                <option value="@item.Id">@item.Name</option>
            }
        </select>
    </div>
    <div>
        <input type="submit" value="Add" />
    </div>
</form>
