﻿@model List<Product>

<!DOCTYPE html>

<html>
<head>
    <title>Store</title>
</head>
<body>
    <h3>Products</h3>
    <a href="/Product/Create">Add New Product</a>
    <table>
        <thead>
            <tr>
                <th>Name</th>
                <th>Code</th>
                <th>Groups</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var product in Model)
            {
                <tr>
                    <td>@product.Name</td>
                    <td>@product.Code</td>
                    <td>@product.Group.Name</td>
                    <td><a href="/Product/Update/@product.Id">Edit</a></td>
                    <td>||</td>
                    <td><a href="/Product/Delete/@product.Id">Remove</a></td>
                </tr>
            }
        </tbody>
    </table>
</body>
 </html>



