﻿@model Product

<h3>Edit Product</h3>
<form method="post" action="/Product/SaveUpdate">
    <input type="hidden" name="Id" value="@Model.Id" />
    <div>
        <label>Name:</label>
        <input type="text" name="Name" value="@Model.Name" placeholder="Enter name..." />
    </div>
    <div>
        <label>Code:</label>
        <input type="text" name="Code" value="@Model.Code" placeholder="Enter code..." />
    </div>
    <input type="submit" value="Save" />
</form>
