﻿<h3>Create Group</h3>

<form action="/Group/Add">
    <div>
        <label>Name:</label>
        <input type="text" name="Name"  placeholder="Enter name..." />
    </div>
    <div>
        <label>Datails:</label>
        <input type="text" name="Details" placeholder="Enter details..." />
    </div>
    <div>
        <input type="submit" value="Add" />
    </div>
</form>