﻿@model List<Group>

<!DOCTYPE html>

<html>
<head>
    <title>Store</title>
</head>
<body>
    <h3>Groups</h3>
    <a href="/Group/Create">Add New Group</a>
    <table>
        <thead>
            <tr>
                <th>Name</th>
                <th>Details</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var group in Model)
            {
                <tr>
                    <td>@group.Name</td>
                    <td>@group.Details</td>
                    <td><a href="/Group/Update/@group.Id">Edit</a></td>
                    <td>||</td>
                    <td><a href="/Group/Delete/@group.Id">Remove</a></td>
                </tr>
            }
        </tbody>
    </table>
</body>
</html>

