﻿@model Group

<h3>Edit Group</h3>
<form method="post" action="/Group/SaveUpdate">
    <input type="hidden" name="Id" value="@Model.Id" />
    <div>
        <label>Name:</label>
        <input type="text" name="Name" value="@Model.Name" placeholder="Enter name..." />
    </div>
    <div>
        <label>Detales:</label>
        <input type="text" name="Details" value="@Model.Details" placeholder="Enter detales..." />
    </div>
    <input type="submit" value="Save" />
</form>
